body {
    background: linear-gradient(rgba(13, 13, 26, 0.8), rgba(13, 13, 26, 0.8)), 
                url('https://i.pinimg.com/1200x/69/e8/57/69e857df1a44d6b51b8c99e8e7bab53b.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #c9b0ff;
}